**Exercise 1: Prime Numbers**

--> Write a Python program that checks whether a given number is prime or not. A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself.

In [ ]:
import math  # No import needed â†’ use num ** 0.5 and import math if using math.sqrt()

In [ ]:
num = int(input("Enter a number: ")) # taking input from user and The result is always a string, even if the user types a number

Enter a number: 23

In [ ]:
if num > 1:  #A prime number must be greater than 1
    for i in range(2, int(math.sqrt(num)) + 1): # The range() function in Python excludes the upper limit.So We add +1 to include the square root value in the loop
        if num % i == 0:  # If remainder is 0, that means i divides num evenly, so num is not a prime number.
            print(num, "is not a prime number.")
            break
    else:
        print(num, "is a prime number.")
else:
    print("Prime numbers are greater than 1.") # if less then 1 number entered

23 is a prime number.

**Exercise 2: Product of Random Numbers**

--> Develop a Python program that generates two random numbers and asks the user to enter the product of these numbers. The program should then check if the user's answer is correct and display an appropriate message.

In [ ]:
import random as rd # random module is a built-in Python module

In [ ]:
#random.randint(a, b) Returns a random integer between a and b
num1 = rd.randint(1, 10) # Generate two random numbers between 1 and 10
num2 = rd.randint(1, 10)

In [ ]:
num1,num2

(8, 2)

In [ ]:
# Ask the user to enter the product
print(f"What is the product of {num1} and {num2}?")
user_answer = int(input("Your answer: "))

What is the product of 8 and 2?
Your answer: 24

In [ ]:
# Calculate the correct product
correct_answer = num1 * num2
# correct_answer

In [ ]:
# Check if the user's answer is correct
if user_answer == correct_answer:
    print("Correct! Well done.")
else:
    print(f"Incorrect. The correct answer is {correct_answer}.")

Incorrect. The correct answer is 16.

**Exercise 3: Squares of Even/Odd Numbers**

-->Create a Python script that prints the squares of all even or odd numbers within the range of 100 to 200. Choose either even or odd numbers and document your choice in the code.

*   We are choosing ODD numbers for this task.
*   Odd numbers are those which are not divisible by 2 (i.e., number % 2 != 0)

In [ ]:
for number in range(100,201):  # The range() function in Python excludes the upper limit.So We take upto 201 to include the 200 in the loop
  if number % 2 != 0: # Check if the number is odd. For even numbers -> number % 2 == 0:
    print(f"The square of {number} is {number**2}") # Squaring each odd numbers from 100 to 200 and printing them

The square of 101 is 10201
The square of 103 is 10609
The square of 105 is 11025
The square of 107 is 11449
The square of 109 is 11881
The square of 111 is 12321
The square of 113 is 12769
The square of 115 is 13225
The square of 117 is 13689
The square of 119 is 14161
The square of 121 is 14641
The square of 123 is 15129
The square of 125 is 15625
The square of 127 is 16129
The square of 129 is 16641
The square of 131 is 17161
The square of 133 is 17689
The square of 135 is 18225
The square of 137 is 18769
The square of 139 is 19321
The square of 141 is 19881
The square of 143 is 20449
The square of 145 is 21025
The square of 147 is 21609
The square of 149 is 22201
The square of 151 is 22801
The square of 153 is 23409
The square of 155 is 24025
The square of 157 is 24649
The square of 159 is 25281
The square of 161 is 25921
The square of 163 is 26569
The square of 165 is 27225
The square of 167 is 27889
The square of 169 is 28561
The square of 171 is 29241
The square of 173 is 29929
The square of 175 is 30625
The square of 177 is 31329
The square of 179 is 32041
The square of 181 is 32761
The square of 183 is 33489
The square of 185 is 34225
The square of 187 is 34969
The square of 189 is 35721
The square of 191 is 36481
The square of 193 is 37249
The square of 195 is 38025
The square of 197 is 38809
The square of 199 is 39601

**Exercise 4: Word counter**

write a program to count the number of words in a given text.

example:

input_text = "This is a sample text. This text will be used to demonstrate the word counter."

Expected output:

'This': 2

'is': 1

'a': 1

'sample': 1

'text.': 1

In [6]:
from collections import Counter

In [14]:
# Input text
input_text = "This is a sample text. This text will be used to demonstrate the word counter."

In [16]:
# Note : Incase of to ask Convert to lowercase and Remove punctuation for accurate word matching
# input_text1 = input_text.lower() -> Convert to lowercase (optional but helps in case-insensitive counting)
# clean_text = input_text1.translate(str.maketrans('', '', string.punctuation)) - > Remove punctuation

1. ***string.punctuation***

This is a predefined string in Pythonâ€™s string module.
It contains all standard punctuation characters: '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

2. ***str.maketrans('', '', string.punctuation)***

str.maketrans(x, y, z) is a method that creates a translation table for use with str.translate().

When used as str.maketrans('', '', string.punctuation), it means:

First argument (''): No characters to replace.

Second argument (''): No characters to replace them with.

Third argument (string.punctuation): All these characters should be deleted.

3. ***input_text.translate(...)***

The translate() method uses the translation table from maketrans() to process the string.

It returns a new string where:

Every punctuation character is removed.

All other characters are unchanged.

In [11]:
# Split the input text into words
words = input_text.split()

In [15]:
# Count the frequency of each word
word_counts = Counter(words)

In [17]:
# Display the result using for loop
for word, count in word_counts.items():
    print(f"'{word}': {count}")

'This': 2
'is': 1
'a': 1
'sample': 1
'text.': 1
'text': 1
'will': 1
'be': 1
'used': 1
'to': 1
'demonstrate': 1
'the': 1
'word': 1
'counter.': 1

**Exercise 5: Check for Palindrome**

-> Write a Python function called is_palindrome that takes a string as input and returns True if the string is a palindrome, and False otherwise. A palindrome is a word, phrase, number, or other sequence of characters that reads the same forward and backward, ignoring spaces, punctuation, and capitalization.

Example:

Input: "racecar"

Expected Output: True

In [18]:
import string

1.   **def** is a keyword in Python used to **define a function**.
2.   **is_palindrome** is the name of the function.


1.   **(s)** means the function takes **one input parameter**, which weâ€™ve named **s**.

      This **s** is expected to be a string.
2.   List item

In [21]:
def is_palindrome(s):
    s = s.lower() #Converts the string to lowercase to ignore case differences
    s = s.translate(str.maketrans('', '', string.punctuation)) #Removes punctuation using a translation table
    s = s.replace(" ", "") #Removes spaces
    return s == s[::-1] # Check if string is equal to its reverse. 1.If they are the same, it's a palindrome â†’ returns True. 2.Otherwise â†’ returns False.

In [22]:
print(is_palindrome("racecar")) # True

True

In [25]:
print(is_palindrome("No lemon, no melon")) # True

True

In [26]:
print(is_palindrome("Bhakte")) # False

False

In [27]:
print("Thank you ðŸ˜Š")

Thank you ðŸ˜Š